body {
  font-family: 'Fjalla One', sans-serif;
  background: url('images/background.jpg')
}

h1 {
  color: teal;
  width: 600px;
  margin: 30px auto -5px auto;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px dotted #999999;
  padding: 19px;
  background: white;
}

h1, #employeeinfo, #container {
    box-shadow: 3px 3px 5px #666666;
}

#employeeinfo {
  width: 600px;
  margin: 0 auto 0 auto;
  padding: 20px;
  background: #999999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#container {
  padding: 10px;
  margin: 40px auto 0 auto;
  width: 700px;
  border: #5F9F9F 1px dotted;
  background-color: #C0D9D9;
  border-radius: 10px;
  margin-bottom: 50px;
}

.person {
  padding: 10px;
  border-top: #5F9F9F 1px dotted;
  width: 650px;
  margin: 0 auto 0 auto;

}

.clicked {
  border-color: red;
}

input {
  margin: 15px;
}

#submit {
  border: 1px solid #333333;
  background-color: #white;
  font-family: 'Fjalla One', sans-serif;
  padding: 5px;
  margin-left: 265px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#submit:hover {
  background-color: #777777;
}

#idnumber {
  margin-right: 15px;
  width: 188px;
}

#jobtitle {
  width: 199px;
}

#salary {
  width: 168px;
  margin-right: 225px;
}

#showname {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: -10px;
  text-align: center;
}

.fired {
  border: 1px solid #333333;
  background-color: #5F9F9F;
  padding: 5px;
  font-family: 'Fjalla One', sans-serif;
  float: right;
  margin-top: -70px;
}
.fired:hover {
  border: 1px solid #333333;
  background-color: #C0D9D9;
  padding: 5px;
}

#monthlysalary {
  color: #5F9F9F;
  text-align: center;
}

h2 {
  text-align: center;
}

li {
    margin-bottom: 8px;
    font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
